
body, html {
	background-color: $body-background;
	background: url('white_texture.png') repeat;
}

a {
	transition:.2s;
	word-break: break-all;
}

body.rtl {
	.main-header {
		direction: rtl;
	}
}

.text-rtl {
	direction: rtl;
}


h1, h2, h3, h4, .title {
	font-family: Raleway, sans-serif;
	font-weight: 300;
}

.page-wrap {
	background: $body-background;
}



// add blue stripes
nav.navbar, .footer-page {
	border-top: 8px solid $accent-color;
}


.blockquote {

	background-color: whitesmoke;
	border-left: 5px solid #dbdbdb;
	padding: 1.25em 1.5em;
}

.spoiler-link:after {
	content: " » ";
}

.spoiler-hidden {
	transition: all .5s ease-in-out;

	overflow: hidden;
	line-height: 0;
	color: transparent;

	&:target {
		line-height: 1.5;
		padding-top: 1em;
		padding-bottom: 1em;
		color: $body-color;


		background-color: whitesmoke;
		border-left: 5px solid #dbdbdb;
		padding: 1.25em 1.5em;
	}
}



//
// Bulma Changes
//
.card-content > .table {
	margin-left: -1.5rem;
	margin-right: -1.5rem;

	&:first-child {
		margin-top: -1.3rem;
	}
}

.table {
	background-color: transparent;
}

.table.is-borderless {
	.table td, .table th { border: none; }
}

.card-header {
	background-color: $body-background;
}

.table td > ul:first-child, .table td > ol:first-child {
	margin-top: 0;
}

///
/// Font Styles
///

.is-size-1, .title.is-1 {
  font-size: 3rem !important;
}

.is-size-2, .title.is-2 {
  font-size: 2.5rem !important;
}

.is-size-3, .title.is-3 {
  font-size: 2rem !important;
}

.is-size-4, .title.is-4 {
  font-size: 1.5rem !important;
}

.is-size-5, .title.is-5 {
  font-size: 1.25rem !important;
}

.is-size-6, .title.is-6 {
  font-size: 1rem !important;
}

.is-size-7, .title.is-7 {
  font-size: 0.75rem !important;
}

.is-italic {
	font-style: italic;
}
