
.neos-alignment-center {
	text-align: center;
}

.neos-alignment-right {
	float: right !important;
}

.neos-alignment-left {
	float: left !important;
}

.neos-nodetypes-textwithimage::after {
	clear: both;
	content: " ";
	display: table;
}

figure {
	margin: 0.5em;
}

figcaption {
	font-style: italic;
	color: $grey-dark;
	font-size: 90%;
}