<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:fusion="Neos\Fusion\ViewHelpers"
	  xmlns:neos="Neos\Neos\ViewHelpers"
	  xmlns:fa="Neos\FluidAdaptor\ViewHelpers"
      xmlns:neoscr="Neos\ContentRepository\ViewHelpers">
<f:section name="feed">

    <div class="columns">
		<div class="column is-two-thirds">
			<f:if condition="{renderFeed}">
				<f:then>
				<neoscr:widget.paginate widgetId="blog-pagination" nodes="{feedEntries}" as="paginatedEntries"
										 configuration="{paginationConfiguration}">
					<div{listAttributes -> f:format.raw()}>
						<f:for each="{paginatedEntries}" as="entry">
							<fusion:render path="feedContent.itemRenderer" context="{node: entry}"/>
						</f:for>
					</div>
				</neoscr:widget.paginate>
				</f:then>
				<f:else>
					{noEntriesFound -> f:format.raw()}
				</f:else>
			</f:if>
		</div>

		<div class="column">
			<div class="columns is-vcentered is-mobile">
				<div class="column is-4">
					<img src="{f:uri.resource(path: 'Assets/images/logo-square.svg', package: 'mkuhlmann.ImpfDich')}">
				</div>
				<div class="column">
					<h2 class="is-size-3 has-text-weight-bold" style="color: #689DD3">Aktuelles</h2>

				</div>
			</div>

			<p class="content">
				Hier gibt es Neuigkeiten aus unserem Verein mit den einzelnen Lokalgruppen, Berichte über Errungenschaften und Schulbesuche sowie vielseitige Interviews mit Experten im Thema Impfen.
			</p>

			<p class="content">
				<h2 class="is-size-3">Kategorien</h2>
				<f:for each="{categoryList}" as="category">
					<neos:link.node node="{category}" title="{category.label}">	{category.label} </neos:link.node>
				</f:for>
			</p>

		</div>

	</div>

</f:section>
</html>
