{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<f:if condition="{items}">
	<nav class="breadcrumb has-dot-separator is-small">
		<ul>
			<f:for each="{items}" as="item" reverse="TRUE" iteration="i">
				<li{ts:render(path: '{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
					<f:if condition="{i.index} === 0 == true">
						<f:then>
							<a href="<neos:uri.node node="{item.node}" />"><i class="mdi mdi-home"></i></a>
						</f:then>
						<f:else>
							<f:if condition="{item.state} === 'current'">
								<f:then>
									<a href="#">{item.node.label}</a>
								</f:then>
								<f:else>
									<neos:link.node node="{item.node}" />
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</li>
			</f:for>
		</ul>
	</nav>
</f:if>