{namespace neos=Neos\Neos\ViewHelpers}
<f:if condition="asset">
<f:if condition="{neos:rendering.inEditMode()}">
	<f:then>
		<a class="download-box">
	</f:then>
	<f:else>
		<a class="download-box" href="{f:uri.resource(resource: asset.resource)}">
	</f:else>
</f:if>
		
		<f:if condition="{asset.fileExtension} == 'pdf'">
			<div class="download-icon"><i class="mdi mdi-file-pdf" aria-hidden="true"></i></div>
		</f:if>
	
		<div class="download-text">
			<neos:contentElement.editable property="title" tag="strong" /><br>
			<neos:contentElement.editable property="subtitle" tag="small" />
		</div>
</a>
</f:if>