
//
// HEADER
//

// navbar logo
$navbar-brand-height: 3.8rem;

.navbar .navbar-brand {
	.navbar-item {
		padding: 0;
		margin-right: 0.25rem;
		height: $navbar-brand-height;

		img {
			max-height: none;
			height: 3.0em;
		}
	}
	.navbar-burger {
		width: $navbar-brand-height;
		height: $navbar-brand-height;
	}
}


#navbarItems {
	font-size: 0.93em;
	
	.navbar-dropdown {
		-webkit-transform: translateY(-5px);
            transform: translateY(-5px);
		-webkit-transition-duration: 86ms;
				transition-duration: 86ms;
		-webkit-transition-property: opacity, -webkit-transform;
		transition-property: opacity, -webkit-transform;
		transition-property: opacity, transform;
		transition-property: opacity, transform, -webkit-transform;
		border-top: none;
	}
	
	.navbar-dropdown.is-mega {
		margin-left: 1em;
		border-left: 2px solid $accent-color;
		
		.column {
			min-width: 250px;
		}
	}
}

.blog-feed__entry {
	margin-bottom: 2em;
}

.blog-header {
	background: $footer-background;
	margin: -2em -2em 0 -2em;
	img {
		display: block;
		margin: 0 auto;
	}
}

.blog-subheader {
	margin: 1em 0;
}


//
// MAIN SECTION
//
main {
	background-color: #fff;
	.main-header {
		background-color: $body-background;
		padding: 1rem 2rem;
		color: $footer-background;

		h1 {
			padding: 0em 0;
		}

		.breadcrumb li.is-active a {
			color: $grey;
		}
	}

	& > article, .main-padding {
		padding: 2em;
	}
}

.svg-bg-wrap {
	background: $body-background;
	position: relative;
}

.svg-bg-top {
	width: 100%;
	height: 2vw;
	position: absolute;
	top: 0;
}

.f-box {
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
	border-radius: 8px;

	&__content {
		text-align: center;
		padding: 1.5rem;
		margin-bottom: 0 !important;
	}

	&__footer {
		font-style: bold;
		padding: 0.5rem 1.5rem;
		background-color: #fafafa;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

//
// FOOTER
//
.footer-cols {
	background: $footer-background;
	color: $footer-color !important;
	padding: 1.5em 2em;

	.column {
		font-size: 0.85em;
	}

	.raquo-list {
		li:before {
			content: "\00BB ";
		}
		li a {
			color: $footer-color;
		}

		li a:hover {
			color: $footer-color-hover;
		}
	}	

	.title, h1, h2, h3, h4 {
		color: $footer-color !important;
		font-weight: 300 !important;
	}
	
	p, a:hover {
		color: $footer-color !important;
	}
}

.footer-copy {
	padding: 0.5em 1.5em;

	span {
		font-size: 0.75em;
	}
}


a.download-box {
	padding: 0.5rem;
	background: $body-background;
	display: flex;

	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ3aWR0aDoyNHB4O2hlaWdodDoyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiNlMGUwZTAiIGQ9Ik01LDIwSDE5VjE4SDVNMTksOUgxNVYzSDlWOUg1TDEyLDE2TDE5LDlaIiAvPjwvc3ZnPg==');
	background-position: bottom right;
	background-repeat: no-repeat;

	.download-icon {
		float: left;
		font-size: 3em;

		.mdi-file-pdf {
			color: #B31610;
		}
	}

	.download-text {
		align-self: center;
		margin-left: 1rem;
	}
}