@media screen and (min-width: 1024px) {
	nav.navbar {
		padding: 1em 2em;
	}

	.page-wrap {
		margin-top: 2em; 
		box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	}

	.footer-page {
		margin-bottom: 3rem;
	}
}
