@import "~mdi/scss/materialdesignicons";

//@import "~bulma/sass/utilities/initial-variables";
//@import "~bulma/sass/utilities/functions";

$footer-background: #424242;
$footer-color: #e0e0e0;
$footer-color-hover: #f5f5f5;
$body-background: #f5f5f5;
$accent-color: #5b9cd4;
$link: $accent-color;

$title-weight: 300;
$content-heading-weight: $title-weight;

@import "~bulma/bulma";


@import "base";
@import "spacing";
@import "elements";
@import "neos";
@import "media_queries";



