<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="TYPO3\Fluid"
      xmlns:neos="Neos\Neos\ViewHelpers"
      xmlns:fusion="Neos\Fusion\ViewHelpers">
<f:section name="latestBlogEntries">
    <div{attributes -> f:format.raw()}>
        <f:if condition="{feedEntries}">
            <f:then>
                <ul>
                    <f:for each="{feedEntries}" as="entry">
						<li><neos:link.node node="{entry}" title="{entry.label}">{entry.title}</neos:link.node></li>
					</f:for>
                </ul>
            </f:then>
        </f:if>
    </div>
</f:section>
</html>