<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:fa="Neos\FluidAdaptor\ViewHelpers" xmlns:neos="Neos\Neos\ViewHelpers">
<f:section name="blogFeedEntry">
	<article class="blog-feed__entry">
		<header>
			<time class="is-size-7 is-italic blog-date">{f:format.date(date: publicationDate, cldrFormat: cldrFormat, localeFormatLength: localeFormatLength, localeFormatType: 'date', forceLocale: true)}</time>
			
			<h1 class="title is-3" style="margin-bottom: 0.5em;">
				<f:if condition="{node.context.workspace.name} == 'live'">
					<f:then>
						<neos:link.node node="{node}" title="{node.label}">
							<neos:contentElement.editable property="title" tag="span" />
						</neos:link.node>
					</f:then>
					<f:else>
						<a>
							<neos:contentElement.editable property="title" tag="span" />
						</a>
					</f:else>
				</f:if>
			</h1>

			<f:if condition="{showAuthor}">
				<neos:contentElement.editable property="authorName" tag="address" />
			</f:if>
		</header>
		
		<f:if condition="{node.properties.entryImage}">
			<div style="text-align: center">
			<f:if condition="{node.context.workspace.name} == 'live'">
				<f:then>
					<neos:link.node node="{node}" title="{node.label}">
						<f:render partial="EntryImage" arguments="{image: node.properties.entryImage, imageSettings: imageSettings, title: title, alternativeText: alternativeText}" />
					</neos:link.node>
				</f:then>
				<f:else>
					<a title="{node.label}">
						<f:render partial="EntryImage" arguments="{image: node.properties.entryImage, imageSettings: imageSettings, title: title, alternativeText: alternativeText}" />
					</a>
				</f:else>
			</f:if>			
			</div>
		</f:if>

		<div class="article-content">
			<p>
				<f:if condition="{node.context.workspace.name} == 'live'">
					<f:then>
						<f:format.crop maxCharacters="500" append="…">
							<f:format.stripTags value="{summary}" /></f:format.crop>
					</f:then>
					<f:else>
						<neos:contentElement.editable property="entrySummary" />
					</f:else>
				</f:if>

				<neos:link.node node="{node}">
					<fa:translate id="blogEntry.action.more" package="Shel.Blog" source="Main">more</fa:translate>
				</neos:link.node>
			</p>
		</div>
	</article>
</f:section>

</html>